/* 
======================================================================================== */

.col-sm-3{
	border-style: solid;
}

img {
    max-width: 124px;
    max-height: 96px;
}


/* 
======================================================================================== */

.emotion{
	border-style: dashed; 
	text-align: center;
	

}

/* 
======================================================================================== */




/* 
======================================================================================== */


/* 
======================================================================================== */



/* OTHER
======================================================================================== */

